.block.block_kalturapodcast .content {margin-left: 18px;}
.block.block_kalturapodcast .content .r0 {background-color: #FAFAFA;text-indent:-18px;}
.block.block_kalturapodcast .content .r1 {background-color: #F0F0F0;text-indent:-18px;}
.block.block_kalturapodcast .footer li {list-style-type:none;padding: 0 0 0;}
.block.block_kalturapodcast .footer {margin-top:10px;text-indent:-18px;}
.block.block_kalturapodcast .kalturaduration {color: #666;font-size: 75%;white-space: nowrap;}
.block.block_kalturapodcast .podcastitem img {vertical-align: middle;}


